<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-container">
        <div class="header-item header-left">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <a th:href="@{/home}" class="header-link header-logo">Theta Xi</a>
        </div>
        <div class="header-item header-center">
            <a href="#login" class="header-link">AnotherLink</a>
            <a th:href="@{/chorechart}" class="header-link">Chore Chart</a>
        </div>
        <div class="header-item header-right">

            <a th:if="${auth}" th:href="@{/logout}" class="login-button">Sign Out</a>
            <a th:unless="${auth}" th:href="@{/login}" class="login-button">Login</a>

        </div>
    </div>
</header>
